/* CSS Document */
*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	}

 html {
 	background-color: #00539F;
	}

/* Body*/
body{
	width: 100%;
	min-height: 100vh;
	background-color: #FFFDDF;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* End Body*/
.show-menu{
	opacity:1;
}

/* header */

.main-header{
	/*border: 1px solid blue;*/
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.main-header_nav-secondary{
	width: 100%;
	height: 35%;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #00920C;
	font-weight: bold;
	color: #FFF8A4;
	overflow: visible;
	border: 0;
	}


.main-header_container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	
	/*border: 1px solid red;*/
	}

.main-header_nav-primary-toggle_container{
	/*display: none;
	flex-direction: row ;
	justify-content: center;
	align-items: stretch;
	background-color: #00539F;*/
}
.main-header_nav-primary_toggle_item{
	/*background-color: #F85F62;	
	display: flex;
	flex-direction: row ;
	justify-content: center;
	align-items: center;
	align-content: center;*/

}

.main-header_nav-primary_toggle_icon{
	/*padding: 0 0.4em;
	background-color: crimson;	
	font-size: 1.8em;*/
}




.main-header_logo{
	
	border: solid 0px brown;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: .5em 0;
	}

.main-header_logo_link_logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;	
	font-size: 2em;

	text-decoration: none;
	color: #646464;
	font-family: "Mako", sans-serif;
	
}

.main-header_logo_link_logo:visited{
	color: #3d3d3d;
}

.main-header_logo_img{
	width: 40px;
	margin-right: 3px;
	fill: #00850b;
	
	
	
	
}

/*NAV BAR */

.main-header_nav-primary{
	max-width: calc(100% - 500px);
	
}

.main-header_nav-primary_nav{
/*
	height: 100%;
	width: 100%;
	background-color: aqua;
	display: flex;
	flex-direction: row;
	align-items: center;
*/
	display: flex;
    flex: 0 0 auto;
    justify-content: center;
    min-width: 100%;
}


.main-header_nav-primary_list {
/*
    display: flex;
    list-style-type: none;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
 	justify-content: space-around;
	align-items: center;
	
*/	list-style-type: none;   
	display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
	
}

.main-header_nav-primary_item {
/*
	height: 100%;
	width: 100%;
*/	
	justify-content: center;
	display: flex;
    align-items: stretch;
    height: 4rem;
    margin: 0;

}

.main-header_nav-primary_item_link {
/*
	display:flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: chartreuse;
	padding: 0 20px;
*/
	width: 100%;
    padding: 0 2em;
    text-decoration: none;
    white-space: normal;
    justify-content: start;
    align-items: center;
    text-align: center;
    background: white;
    font-weight: 400;
	position: relative;
	font-size: 1.2em;
	color: #000000;
	font-family: "Mako", sans-serif;
	
}

.mako-regular {
	font-family: "Mako", sans-serif;
	font-weight: 400;
	font-style: normal;
 }

.main-header_nav-primary_item_link:hover.main-header_nav-primary_item_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: rgb(0, 165, 14);
}

/*END NAV BAR*/

/*START NAV BAR*/


/*
.main-header_nav-primary_item_link:hover{
	background-color: beige;
.main-header_nav-primary_item:hover 
}
*/

/*
.main-header_nav-primary_item:hover{
	border-bottom: .25rem solid blue;
	
}
.main-header_nav-primary_item_link:hover{
	font-weight: 700;
}
*/

.main-header_nav-primary_user_container {
	display: flex;
	flex-direction: row ;
	justify-content: center;
	align-items: stretch;
	background-color: #00539F;
}

.main-header_nav-primary_user_item{
	background-color: #F85F62;	
	display: flex;
	flex-direction: row ;
	justify-content: center;
	align-items: center;
	align-content: center;
	

}
.main-header_nav-primary_user_icon{
	padding: 0 0.4em;
	background-color: crimson;	
	font-size: 1.2em;

}

/* End-header */

/* main */
.main-main {
	width:100%;
	max-width:120em;
} 

.main-main_carrousel{
	width:100%;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	position: relative;
	
}

.main-main_carrousel_panel{
	width: 400%;
	background-color:coral;
	height: 45vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	transition: all 0.5s ease;
 	transform: translateX(0%);
}
.main-main_carrousel_panel_section{
	width: calc(100%/4);
	
}

.main-main_carrousel_panel_img{
	display: flex;
	width: 100%;
	height: 100%;
	background-color: crimson;
    object-fit: cover;

}

.main-main_carrousel_points{
	width:100%;
	padding: 0.4em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items:  center;
	list-style-type: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
}

.main-main_carrousel_points_point{
	width:1.5em;
	height:1.5em;
	margin: 0.7em 0.7em 1.5em;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.10);
	box-shadow: 0 0.2em 0.5em 0.1em rgba(0,0,0,0.5);
}

.main-main_carrousel_points_point.point-active{
	background-color: rgba(255,255,255,0.8);
}





/* End-main */

/* footer */
footer {
	border: solid pink;
	height: 1500px;
	width: 100%;
	background-color: blue;
} 
/* End-footer */


/*selector de clase*/


@media screen and (max-width:750px){

	.main-header{
		position: fixed;
		top: 0;
		right: 0;
		z-index: 9999;
	}
	.main-header_container{
		padding-left: 1em;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		background-color: white;

		
	}
	.main-header_nav-primary-toggle_container{
		
		position: relative;
		height: 40px;
		width: 40px;
		background-color: rgb(255, 255, 255);
		overflow: hidden;
		
	}

	.main-header_nav-primary_toggle_icon{
		position: absolute;
		width: max-content;
		height: max-content;
		inset: 0;
		margin: auto;
		font-size: 1.5em;
		transition: transform 0.4s ease-in-out;
	}
	.main-header-nav-primary_toggle_icon-burguer{
		opacity: 1;
		
	}
	.main-header_nav-primary_toggle_icon-close{
		opacity: 0;
		transform: translateY(-30px)
		
	}
	.main-header_nav-primary_toggle_icon:hover{
		cursor: pointer;
	}

	

	.main-header_nav-primary{
		display: flex;
		flex-direction: column;
		min-width: 100%;
		height: 0;
		pointer-events: none;
		overflow: auto; /*revisar*/
		opacity: 1;
		transition: height 0.5s;
	}
	 
	/*-------------MENU CON JAVASCRIPT--------------------*/
	.show-menu{
		opacity: 1;
		pointer-events: initial;
		height: 16em;
		transition: height 0.5s ease;		
	}

	.show-icon .main-header_nav-primary_toggle_icon-close {
		opacity: 1;
		transform: translateY(0px);
		
	}

	.show-icon .main-header_nav-primary_toggle_icon-burguer{
		opacity: 1;
		transform: translateY(30px);
	}


	.main-header_nav-primary_nav{
		display: block;
	}
	
   

	.main-header_nav-primary_item_link{
		display:flex;
		align-items: center;
		align-content: start;
		transition: background-color .3s;
	 
	}
		
	.main-header_nav-primary_item_link:hover{
		background-color: #d8d8d8;
	}

	
	.main-header_nav-primary_list {
		
		flex-direction: column;
		
	}

	.main-header_nav-primary_user_container{
		margin: 0 0 0 auto;
		display:auto;

	}

	.main-main_carrousel{
		
		
	}
	
}


/*
    margin-block-start: 5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
*/


